.ant-picker-content th, .ant-btn, .ant-select-selector, .ant-select-selection-item, .ant-select, .ant-select-open, .ant-select-dropdown, .ant-select-item-option-content, .ant-select-item-option-active, .ant-select-item-option-selected, .ant-select-selection-item{
	color: var(--text-color, black) !important;
	background-color: var(--container-background-color, white) !important;
}


.ant-select-item-option-disabled{
	color: var(--text-color, black) !important;
	opacity: 0.5;
}

.ant-picker-cell-disabled::before {
	background-color: lightgray !important;
	opacity: 0.3;
}